<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

<!--    <bean id="JSONService" class="org.example.consumer_currency.service.JSONService" />-->
<!--    <bean id="messageSender" class="org.example.consumer_currency.service.MessageSender"/>-->
<!--    <bean id="messageReceiver" class="org.example.consumer_currency.service.MessageReceiver"/>-->
</beans>