@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";

@font-face {
  font-family: 'Roboto Mono';
  src: url(/assets/fonts/RobotoMono/RobotoMono-Regular.ttf) format("truetype");
}

.navbar-brand {
  font-family: 'Roboto Mono';
}
