<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table class="table mt-2 mx-auto" >

    <thead class="thead-dark">
    <tr>
        <th>abbreviation</th>
        <th>scale</th>
        <th>last_update</th>
        <th>official rate</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="c:${currencies}">
        <td th:text="${c.abbreviation}"></td>
        <td th:text="${c.scale}+' '+${c.name}"></td>
        <td th:text="${c.date}"></td>
        <td th:text="${c.officialRate}"></td>
    </tr>
    </tbody>
</table>

<form th:action="@{/currency}" class="form-horizontal">
    <div class="form-group mt-2">
        <div class="col-sm-9 mx-auto">
            <input type="date" name="date" placeholder="Date of birth" class="form-control" min="2017-01-01" max="2020-01-01" autofocus required>
        </div>
    </div>
    <div class="form-group" align="center">
        <button type="submit" class="btn btn-secondary btn-lg mt-2" id="save_button">Find</button>
    </div>
</form>
</body>
</html>