<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Currency</title>

    <!-- совместимость со всеми устройствами -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1.0, user-scalable=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.src.js"></script>

</head>
<body>

<form th:action="@{/currency}" class="form-horizontal">
    <div class="row mt-2">
        <div class="col ml-2">
            <input type="date" name="date" placeholder="Date of birth" class="form-control"
                   min="2017-01-01" th:max="${today}" autofocus required>
        </div>
        <div class="col" align="left">
            <button type="submit" class="btn btn-outline-info" id="save_button">Find</button>
        </div>
    </div>
</form>

<table class="table mt-2 mx-auto" >

    <thead class="thead-dark">
    <tr>
        <th>abbreviation</th>
        <th>scale</th>
        <th>last_update</th>
        <th>official rate</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="c:${currencies}">
        <td th:text="${c.abbreviation}"></td>
        <td th:text="${c.scale}+' '+${c.name}"></td>
        <td th:text="${c.date}"></td>
        <td th:text="${c.officialRate}"></td>
    </tr>
    </tbody>
</table>

<h2 class="mt-3">Currency Chart</h2>
<form th:action="@{/currency}" class="form-horizontal">
    <div class="row mt-2">
        <div class="col ml-2">
            <input type="date" name="startDate" placeholder="Date of birth" class="form-control"
                   min="2017-01-01" th:max="${today}"  autofocus required>
        </div>
        <div class="col ml-2">
            <input type="date" name="endDate" placeholder="Date of birth" class="form-control"
                   min="2017-01-01" th:max="${today}"  autofocus required>
        </div>
        <div class="col" align="left">
            <button type="submit" class="btn btn-outline-info">Find</button>
        </div>
    </div>
</form>

<div id="container1" style="margin-top: 10px; width: 700px; height: 400px "></div>


<script type="text/javascript" th:inline="javascript">

var rub = [[${RubDynamics}]];
var usd = [[${UsdDynamics}]];
var eur = [[${EurDynamics}]];
var startDate = [[${startDate}]];
var endDate = [[${endDate}]];

var chartName = startDate+' : '+endDate ;
var chart1;

$(document).ready(function(){
  chart1 = new Highcharts.Chart({
    chart: {renderTo: 'container1'},
    title: {text: chartName},
    series: [
        {data: rub, name: 'RUB'},
        {data: usd, name: 'USD', color: 'green'},
        {data: eur, name: 'EUR', color: 'brown'}
    ],
    xAxis: {
        categories: ['1','2','5']
    }
  });
});

</script>



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script src="https://use.fontawesome.com/3108c34e76.js"></script>

</body>
</html>