<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="departmentDao" class="org.example.epam.backend.dao.impl.DepartmentDaoImpl" />
    <bean id="departmentService" class="org.example.epam.backend.service.impl.DepartmentServiceImpl" />
    <bean id="jdbcStorageDao" class="org.example.epam.backend.dao.impl.JdbcStorageDaoImpl" />
    <bean id="jdbcStorageService" class="org.example.epam.backend.service.impl.JdbcStorageServiceImpl" />
    <bean id="employeeDao" class="org.example.epam.backend.dao.impl.EmployeeDaoImpl" />
    <bean id="employeeService" class="org.example.epam.backend.service.impl.EmployeeServiceImpl" />
    <bean id="converterService" class="org.example.epam.backend.service.impl.ConverterServiceImpl" />
    <bean id="userDao" class="org.example.epam.backend.dao.impl.UserDaoImpl" />
    <bean id="userService" class="org.example.epam.backend.service.impl.UserServiceImpl" />
    <bean id="mailService" class="org.example.epam.backend.service.impl.MailServiceImpl" />

</beans>