<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
        <!-- SMTP settings -->
        <property name="host" value="smtp.gmail.com" />
        <property name="port" value="465" />
        <property name="username" value="vladquinn2020@gmail.com" />
        <property name="password" value="Testvladquinn2020" />

        <property name="javaMailProperties">
            <!-- additional properties specific to JavaMail -->
            <props>
                <prop key="mail.transport.protocol">smtps</prop>
            </props>
        </property>
    </bean>

    <bean id="emailSender" class="org.example.epam.mail.service.impl.MailSenderImpl" />

</beans>