<div id="container">
  <div class="heading">
    <h1>An environment</h1>
    <p>whose goal is to show my knowledge and skills</p>
  </div>
  <div class="stack_heading">
    <h3>Technology stack</h3>
  </div>
  <div class="stack">
    <div id="mysql">
    </div>
    <div id="aws">
    </div>
    <div id="gcp">
    </div>
    <div id="docker">
    </div>
    <div id="java">
    </div>
    <div id="spring">
    </div>
    <div id="angular">
    </div>
    <div id="jfrog">
    </div>
    <div id="tomcat">
    </div>
    <div id="jenkins">
    </div>
  </div>
</div>





