
<div id="body">
<app-navbar></app-navbar>

  <div class="container mt-5" >
    <div class="col ml-auto">

      <div class="row">
        <div class="col">
          <h1 class="mx-auto" style="color: #00FFFF">
            Employees
          </h1>
        </div>
        <div class="col mt-3" align="right">
        </div>
      </div>

      <table class="table mt-2 mx-auto"  >

        <thead class="thead-dark">
        <tr >
          <th>name</th>
          <th>birthday</th>
          <th>salary</th>
          <th>department</th>
          <th *ngIf="isAdmin">delete</th>
        </tr>
        </thead>

        <tbody>
        <tr *ngFor="let emp of employees" style="color: white;">
          <td>{{ emp.name }}</td>
          <td>{{ emp.birthday }}</td>
          <td>{{ emp.salary | currency: 'USD' }}</td>
          <td>
            <a routerLink="/departments/{{ emp.department.id }}" routerLinkActive="active" id="link_in_table2">
              {{ emp.department.name }}
            </a>
          </td>
          <td *ngIf="isAdmin">
          <a type="submit" (click)="deleteEmployee(emp)" id="button_login1">
            <i class="material-icons" id="delete_icon">
              delete
            </i>
          </a>
        </td>
        </tr>
        </tbody>
      </table>

      <form *ngIf="isAdmin" method="post" class="form-horizontal" id="save_empl_form">

        <h2>new employee</h2>

<!--        <div class="text-danger mt-2">-->
<!--          <p th:text="${isNameExists}?${isNameExists}" align="center">-->
<!--          </p>-->
<!--          <p th:text="${wrongFloatValue}?${wrongFloatValue}" align="center">-->
<!--          </p>-->
<!--        </div>-->

        <div class="form-group mt-2">
          <div class="col-sm-9 mx-auto">
            <input type="text" [(ngModel)]="q1" #q1var="ngModel" name="name" placeholder="Employee name" class="form-control" autofocus required>
          </div>
        </div>

        <div class="form-group mt-2">
          <div class="col-sm-9 mx-auto">
            <input type="date" [(ngModel)]="q2" name="birthday" placeholder="Date of birth" class="form-control" min="1900-01-01" max="2020-01-01" autofocus required>
          </div>
        </div>

        <div class="form-group mt-2">
          <div class="col-sm-9 mx-auto">
            <input type="text" [(ngModel)]="q3" name="salary" placeholder="Salary (e.g. 1024.08)" class="form-control" autofocus  required>
          </div>
        </div>

        <div class="form-group mt-2">
          <div class="col-sm-9 mx-auto">
            <input type="text" list="Departments" [(ngModel)]="q4" name="departmentName" placeholder="Departments" class="form-control" autocomplete="off" autofocus required >
            <datalist id="Departments">
              <option *ngFor="let dep of departments" [value]="dep.name">
            </datalist>
          </div>
        </div>

        <div class="form-group" align="center">
          <button type="submit" class="btn btn-secondary btn-lg mt-2" id="save_button" (click)="saveEmployee()">SAVE</button>
        </div>
      </form>

    </div>
  </div>
<app-footer></app-footer>
</div>
<!--    <th>-->
<!--      <img src="http://placehold.it/250x300" height="50"/>-->
<!--    </th>-->
