#container {
  width: 100%;
  height: 100%;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

#container .heading {
  width: 100%;
  margin-top: 20px;
}

#container .heading h1 {
  font-weight: 600;
}




/* checkbox */
#container .checkbox {
  height: 50px;
  width: 100%;
  margin-top: 20px;
}

#container .checkbox button {
  margin-left: 10px;
}

#container .checkbox ::ng-deep .mat-stroked-button {
    background-color: rgb(245,245,245) !important; /* gray */
    color: rgb(25,36,41) !important; /* black */
    border: 2px solid rgb(25,36,41, 0.8);
    font-family: 'Montserrat', sans-serif;
}

#container .checkbox ::ng-deep .mat-stroked-button:hover {
    background-color: rgb(25,36,41) !important; /* black */
    color: rgb(245,245,245) !important; /* gray */
}

#container .checkbox ::ng-deep .mat-stroked-button:focus {
    background-color: rgb(25,36,41) !important; /* black */
    color: rgb(245,245,245) !important; /* gray */
}

/* services */
#container .services {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  transition:all 0.3s ease-in-out;
  transition-duration:2s;
}

#container .services .card {
  width: 250px;
  height: 250px;
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
}

#container .services .card .background {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 2%;
}

#container .services .card .hidden {
  transition: .5s ease;
  opacity: 0;
  background-color: gray;
  width: 100%;
  height: 100%;
  color: white;
}

#container .services .card .hidden:hover {
  opacity: 0.8;
}

#container .services .card .hidden h3 {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  position: absolute;
}

#container .services .card .hidden .p-rest {
  top: 1%;
  right: 3%;
  position: absolute;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

#container .services .card .github {
  background: url('src/assets/services/github.png') no-repeat;
  background-size: cover;
}

#container .services .card .webapp {
  background: url('src/assets/services/webapp.png') no-repeat;
  background-size: cover;
}

#container .services .card .rest {
  background: url('src/assets/services/rest.png') no-repeat;
  background-size: cover;
}

#container .services .card .angular {
  background: url('src/assets/services/angular1.png') no-repeat;
  background-size: cover;
}

#container .services .card .currency {
  background: url('src/assets/services/currency.png') no-repeat;
  background-size: cover;
}

#container .services .card .tic-tac-back {
  background: url('src/assets/services/tic-tac-rest.png') no-repeat;
  background-size: cover;
}

#container .services .card .tic-tac-front {
  background: url('src/assets/services/tic-tac-front.png') no-repeat;
  background-size: cover;
}

#container .services .card .oauth {
  background: url('src/assets/services/oauth.png') no-repeat;
  background-size: 110%;
  background-position: 50% ;
}

#container .services .card .properties{
  background: url('src/assets/services/properties.png') no-repeat;
  background-size: cover;
}

#container .services .card .tomcat{
  background: url('src/assets/services/tomcat1.png') no-repeat;
  background-size: cover;
}

#container .services .card .jenkins{
  background: url('src/assets/services/jenkins1.png') no-repeat;
  background-size: cover;
}

#container .services .card .sonar{
  background: url('src/assets/services/sonar.png') no-repeat;
  background-size: cover;
}

#container .services .card .artifactory{
  background: url('src/assets/services/artifactory.png') no-repeat;
  background-size: cover;
}

#container .services .card .activemq {
  background: url('src/assets/services/activemq.png') no-repeat;
  background-size: cover;
}

@media (max-width: 625px) {
  #container .services .card {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  #container .checkbox {
    width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }

  #container .checkbox button {
    margin-left: 0px;
    margin-top: 10px;
    width: 100%;
  }
}
