<div id="container">
  <div class="heading">
    <h1>Services</h1>
  </div>


  <div class="checkbox">
    <button mat-stroked-button
            #btnAllRef
            (click)="showAllApps()">
      All
    </button>
    <button mat-stroked-button
            (click)="showSpringApps()">
      Spring apps
    </button>
    <button mat-stroked-button
            (click)="showAngApps()">
      Angular apps
    </button>
    <button mat-stroked-button
            (click)="showCICDApps()">
      CI/CD
    </button>
    <button mat-stroked-button
            (click)="showGitApp()">
      GitHub
    </button>
  </div>


  <div class="services" [@servicesAnimation]="services.length" >

    <div class="card"
         *ngFor="let service of services">
      <mat-card [ngClass]="'background '+service.class"></mat-card>

      <a class="hidden" href="{{ service.link }}">
        <h3>{{ service.label }}</h3>
        <p class="p-rest">{{ service.rest === true ? '*REST' : ''}}</p>
      </a>
    </div>

  </div>
</div>


