
/* toolbar */
mat-toolbar {
  height: 80px;
  position: fixed;
  z-index:1;
  width: 100%;
  transition: 0.6s;
}

/* onScroll toolbar properties */
mat-toolbar.navbar-inverse {
  opacity: 0.7;
  height: 60px;
  transition: 0.6s;
  border-bottom: 3px solid rgba(25, 36, 41, .2);
}

/* onScroll change button properties in toolbar */
mat-toolbar.elAbout-inverse ::ng-deep .raised-button.about.mat-button {
    background-color: rgb(25,36,41) !important; /* black */
    color: rgb(245,245,245) !important; /* gray */
}

/* onScroll change button properties in toolbar */
mat-toolbar.elServices-inverse ::ng-deep .raised-button.services.mat-button {
    background-color: rgb(25,36,41) !important; /* black */
    color: rgb(245,245,245) !important; /* gray */
}

/* onScroll change button properties in toolbar */
mat-toolbar.elContacts-inverse ::ng-deep .raised-button.contacts.mat-button {
    background-color: rgb(25,36,41) !important; /* black */
    color: rgb(245,245,245) !important; /* gray */
}

.example-spacer {
  flex: 1 1 auto;
}

.heading {
  margin-left: 5%;
  font-family: 'Montserrat Subrayada', sans-serif;
  font-size: 1.5em;
}

.raised-button {
  margin-right: 3px;
}


::ng-deep .raised-button.mat-button {
    background-color: rgb(245,245,245) !important; /* gray */
    color: rgb(25,36,41) !important; /* black */
    font-family: 'Montserrat', sans-serif;
}

::ng-deep .raised-button.mat-button:focus {
    border: 0px;
    outline: none;
}

::ng-deep .raised-button.mat-button:hover {
    background-color: rgb(25,36,41) !important; /* black */
    color: rgb(245,245,245) !important; /* gray */
}

/* mat menu properties in toolbar */
::ng-deep .mat-icon-button:focus {
  border: 0px;
  outline: none;
}

::ng-deep .mat-menu-panel {
  padding: 0 10px!important;
}

::ng-deep .mat-menu-button.mat-button {
    background-color: white !important;
    color: rgb(25,36,41) !important; /* black */
    width: 100%;
}

::ng-deep .mat-menu-button.mat-button:hover  {
    background-color: rgb(25,36,41) !important; /* black */
    color: rgb(245,245,245) !important; /* gray */
    width: 100%;
}


#about {
  width: 100%;
  height: 100%;
  background: url('src/assets/background/about.jpg') no-repeat;
  background-size: cover;
  color: white;
}

/* onScroll change app-about properties */
#about.elAbout-fadein {
  -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1s; /* Firefox < 16 */
  -ms-animation: fadein 1s; /* Internet Explorer */
  -o-animation: fadein 1s; /* Opera < 12.1 */
  animation: fadein 1s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
#about.elAbout-fadeout {
  -webkit-animation: fadeout 1s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadeout 1s; /* Firefox < 16 */
  -ms-animation: fadeout 1s; /* Internet Explorer */
  -o-animation: fadeout 1s; /* Opera < 12.1 */
  animation: fadeout 1s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

#services {
  width: 100%;
  height: auto;
  text-align: center;
  background-color: rgb(245,245,245); /* gray */
  color: rgb(25,36,41) ; /* black */
}

#contacts {
  width: 100%;
  height: auto;
  text-align: center;
  background-color: rgb(25,36,41); /* dark blue */
  color: white;
}




/* keyframes */
@keyframes fadein {
    from { opacity: 1; }
    to   { opacity: 0.6; }
}
/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 1; }
    to   { opacity: 0.6; }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 1; }
    to   { opacity: 0.6; }
}
/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 1; }
    to   { opacity: 0.6; }
}
/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 1; }
    to   { opacity: 0.6; }
}




@keyframes fadeout {
    from { opacity: 0.6; }
    to   { opacity: 1; }
}
/* Firefox < 16 */
@-moz-keyframes fadeout {
    from { opacity: 0.6; }
    to   { opacity: 1; }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeout {
    from { opacity: 0.6; }
    to   { opacity: 1; }
}
/* Internet Explorer */
@-ms-keyframes fadeout {
    from { opacity: 0.6; }
    to   { opacity: 1; }
}
/* Opera < 12.1 */
@-o-keyframes fadeout {
    from { opacity: 0.6; }
    to   { opacity: 1; }
}
