<div id="body">
  <app-navbar></app-navbar>

  <div class="container mt-5" >
    <div class="col ml-auto">

      <div class="row">
        <div class="col">
          <h1 class="mx-auto" style="color: #00FFFF">
            Departments
          </h1>
        </div>
      </div>

      <table class="table mt-2 mx-auto"  >

        <thead class="thead-dark">
        <tr >
          <th>id</th>
          <th>name</th>
        </tr>
        </thead>

        <tbody>
        <tr *ngFor="let dep of departments" style="color: white;">
          <td>{{ dep.id }}</td>
          <td>
            <a routerLink="/departments/{{ dep.id }}" routerLinkActive="active" id="link_in_table2">
              {{ dep.name }}
            </a>
          </td>
        </tr>
        </tbody>
      </table>

    </div>
  </div>
  <app-footer></app-footer>
</div>

