<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>EPAM_FARM</title>

    <!-- совместимость со всеми устройствами -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1.0, user-scalable=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" th:href="@{/resources/static/css/navbar.css}">
</head>
<body>

<div th:replace="fragments/navbar :: navbar"></div>

<div align="center">
    <img alt="EPAM image" src="https://dev.by/storage/images/75/72/96/21/derived/1fbdf48da0b8a4bdc55fa9a38009d3f0.jpg">
</div>



<div th:replace="fragments/script :: scripts"></div>
</body>
</html>